<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002467126058-gm1fk9b76dvijr9hfu0jpnia7lnhbhjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002467126058-gm1fk9b76dvijr9hfu0jpnia7lnhbhjt</string>
	<key>API_KEY</key>
	<string>AIzaSyBqS4i5qlrjyZ6J0Y6goM56-aF4usVSwh0</string>
	<key>GCM_SENDER_ID</key>
	<string>1002467126058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aromabyte.oil.youngliving</string>
	<key>PROJECT_ID</key>
	<string>aromabyte-youngliving</string>
	<key>STORAGE_BUCKET</key>
	<string>aromabyte-youngliving.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002467126058:ios:bc511399b04a8fb8f50c53</string>
</dict>
</plist>